[2019-06-04 22:56] bjonnh opened #1 "Support the removal of default values"
It would be nice when
[code]

to be able to get
[code]

and not
[code]

Similar to what is possible with Json and Protobuf: https://github.com/Kotlin/kotlinx.serialization/issues/58

[2019-06-04 22:57] bjonnh commented on #1
In a similar way, jackson allows for that:
mapper.setSerializationInclusion(Include.NON_NULL);

[2019-06-05 08:11] charleskorn commented on #1
Hi @bjonnh, thanks for the feedback. I'd love to add this feature but I don't have a lot of spare time right now, so I might not get to it for a while.

If you're interested in submitting a PR, I'd be happy to give you some pointers and review any work in progress.

[2019-06-12 10:37] charleskorn commented on #1
Resolved with #3.

[2019-06-12 10:37] #1 closed

[2019-07-15 07:27] frzme opened #4 "Support Polymorphic serialization"
It would be nice if Polymorphic (de)serialization was supported in the same way it is for JSON.

(see https://medium.com/@andreclassen1337/goodbye-runtimetypeadapterfactory-polymorphic-serialization-using-kotlinx-serialization-46a8cec36fdc )

[2019-07-16 03:46] charleskorn commented on #4
Hi @frzme, thanks for the suggestion!

I don't have capacity to add this in the short term, so if you're keen, I'm happy to provide some pointers and review a PR as you go. I'm imagining this would use YAML's local tags syntax (`!square` / `!circle`) to indicate the type - https://camel.readthedocs.io/en/latest/yamlref.html#tags has a good explanation of this. Was that what you had in mind, or wer

[2019-08-02 08:39] frzme commented on #4
Hi @charleskorn I was not aware of this feature and thus was thinking of basically the same as in json - but if it yaml has native support for it it sounds great to use it.

Unfortunatly I most likely also won't have capacity to work on it anytime soon.

[2019-08-13 11:43] fvasco opened #5 "Allow non strict parsing"
Please implement a non strict Yaml parser, similar to `Json.strictMode`, to ignore unmapped keys.

Error on version 0.11.0:

[code]

[2019-08-13 11:59] charleskorn commented on #5
Hi @fvasco, thanks for the suggestion! I don't have a lot of capacity for this at the moment, but I will take a look when I get a chance.

If you'd be interested in submitting a PR to add this, I don't think it would be a big change and I'd be happy to provide feedback and suggestions as you go.

[2019-08-14 07:58] #5 closed

[2019-08-14 08:00] charleskorn commented on #5
I found myself with some spare time so I've added this in and it'll be part of the next release - let me know if you have any feedback on the implementation!

[2019-08-14 09:48] fvasco commented on #5
Sure,
thank you!

[2019-08-26 13:28] Will3333 opened #6 "Parsing a yaml to an object without scalar value"
Hello,

First of all, thank you for your work.

I have serialized an object of the class Conf below to a yaml file.

[code]
[code]

The produced yaml :
[code]

However I failed to parse this same yaml.

[code]
[code]

Do you have a suggestion ?
I don't understand why it wait for a scalar value.

[2019-08-27 10:46] charleskorn commented on #6
Hi @Will3333, thanks for the issue report. Looks like there's a bug in how we're handling nullable values in objects. I'll take a look in the next few days and post an update here once I've fixed the issue.

[2019-08-31 07:21] #6 closed

[2019-08-31 07:30] charleskorn commented on #6
I've just fixed this and this will be part of v0.13, which should be available in the next hour or so.

[2019-08-31 12:04] Will3333 commented on #6
Thank you.

[2019-09-10 19:33] Will3333 opened #8 "How to not stringify property with null value ?"
Hello,

I have several classes with nullable properties. Is there a way to not stringify a property when it has a null value ?

[2019-09-11 09:16] charleskorn commented on #8
Hi @Will3333! If the default value for those properties is `null`, you can set `encodeDefaults` to `false` and then null values will be omitted.

[2019-09-11 11:07] Will3333 commented on #8
With encodeDefaults to false, all properties with default values will be omitted, not only null value.
Sorry to bother you, this point seems to be more of related to kotlinx.serialization than kaml.

[2019-09-13 22:06] charleskorn commented on #8
Ah, I see your question now. There's no built-in way to do this at the moment, and I don't think it's possible to only encode non-null default values with what kotlinx.serialization supports - https://github.com/charleskorn/kaml/blob/master/src/main/kotlin/com/charleskorn/kaml/YamlOutput.kt#L54 is where we have to make the decision and we don't know what the default value is at that point.

You mi

[2019-09-21 23:02] charleskorn commented on #4
This has been resolved with #7 and will be part of the next release.

[2019-09-21 23:02] #4 closed

[2019-12-07 14:48] rekire commented on #8
Is there an update? I would like to avoid rendering null values?

[2019-12-08 03:56] charleskorn commented on #8
Hi @rekire, this is currently not supported by kotlinx.serialization out of the box, except if you want to exclude writing all default values.

If you want to exclude only null default values, you'll need to provide your own serializer that selectively includes the field depending on whether it is null or not.

[2020-01-18 10:26] #8 closed

[2020-02-20 04:57] gps opened #11 "Question about serializing sealed classes"
Hi @charleskorn,

First off, this is a fantastic library, thank you for your work on it!

I have a question about serializing/deserializing sealed classes.

Let's say I have this (made up) sealed class hierarchy:

[code]

When I try to serialize this with:

[code]

I get this output:

[code]

If I were to do this using the default kotlinx.serialization JSON serializer like this:

[code]

I get:

[

[2020-02-20 06:46] charleskorn commented on #11
Hey @gps, thanks! That is not currently supported but I'm open to PRs that add it if you'd be interested in contributing it.

[2020-02-25 13:26] o7k7 opened #12 "How to ignore a field?"
Hi,
I couldn't see an annotation or something, is there a way to ignore a field?
Thanks

[2020-02-25 13:28] #12 closed

[2020-04-07 00:41] javadba opened #16 "Question: Are you able to use Intellij with this project?"
I tried to use `kaml` in an unrelated project and was unable to make `Idea` happy with it. I have the latest version of Idea for macOS  `2019.3`.

So I `git clone`d your repo to see how _it_ fares and see the same issues

![image](https://user-images.githubusercontent.com/410769/78617893-b2fce100-782d-11ea-8bce-b996afd431d5.png)

Have you found some magic to convince IJ to work with you? Care to s

[2020-04-07 09:05] charleskorn commented on #16
Hi @javadba! It should just work in IntelliJ - did you import it as a Gradle project?

[2020-04-07 15:15] javadba commented on #16
Yes - I had created a new _Kotlin_ project.   But apparently it did not "take":

![createdKotlinButDidNotStick](https://user-images.githubusercontent.com/410769/78686489-f300aa00-78a7-11ea-97d9-48b8277372d8.png)

After adding kotlin facet and recompiling it's groovy now.  (oh ouch)

[2020-04-07 15:26] javadba commented on #16
Actually no it still is broken.

![kamlBuildFails](https://user-images.githubusercontent.com/410769/78687932-87b7d780-78a9-11ea-83bc-776c5dd3b98a.png)

[2020-04-07 15:52] javadba commented on #16
So I have started from scratch. I blew away the .idea directory in project root dir and reopened the directory.  Idea detected this as a gradle project and did this:

![ideaDetectsGradle](https://user-images.githubusercontent.com/410769/78688862-8e931a00-78aa-11ea-9f82-f5fc92a42a7e.png)

![ideaAutoBuild](https://user-images.githubusercontent.com/410769/78688972-aff40600-78aa-11ea-8b97-25dd3c650a66

[2020-04-08 08:01] charleskorn commented on #16
Hi @javadba, I've just tried opening a fresh clone of the project on my machine and I'm not running into any issues. These are the steps that I followed:

1. Clone project
2. In IntelliJ: File > Open, browse to `kaml` directory and open
3. Wait for IntelliJ to run Gradle sync for the first time

In order to run the tests from IntelliJ, you'll need to have the [Spek plugin](https://plugins.jetbrain

[2020-04-08 08:03] javadba commented on #16
That's what I did - multiple times.  I'm on Intellij 2019.3.4 using java 11 on macOS. Can you provide more info on what you are using

[2020-04-08 08:04] javadba commented on #16
I am truly frustrated . Kotlin looks like a great language. But I can't use it due to gradle / build issues.

[2020-04-08 08:18] javadba commented on #16
Can you please check `YamlWritingTest.kt` . See whether Intellij is able to find the `serializer` implicits in your project?

![image](https://user-images.githubusercontent.com/410769/78760953-c34cb300-7936-11ea-9f8b-2fcbdc0b2a79.png)

Note that tests did run.

![image](https://user-images.githubusercontent.com/410769/78761006-d8294680-7936-11ea-8a1d-7711945cd8f2.png)

[2020-04-08 08:29] javadba commented on #16
Also when I right click in that testcase and select run it is a huge mess

![image](https://user-images.githubusercontent.com/410769/78761867-09eedd00-7938-11ea-8202-e7ac9a0492f0.png)

Remember: this is in the same project that built successfully via `gradle build` that was kicked off when doing `File | Open` .   I don't know why IJ can build/test initially for the new project but

* the editor fi

[2020-04-08 08:36] javadba commented on #16
Runs fine `gradle test` from command line.   All signs point to some serious `Idea` problems.  Very curious if you were able to open the  `YamlWritingTest` in IJ , right click and `run` it.

[2020-04-08 11:12] charleskorn commented on #16
I'm also using IntelliJ 2019.3.4 with Kotlin plugin version 1.3.71-release-IJ2019.3-1.

Yep, it works fine for me.

That's just for the `buildSrc` project (additional code for the Gradle project), not the library's tests.

One last thing you might want to check: these are my settings in Preferences > Build, Execution, Deployment > Build Tools > Gradle - do you have the same settings?

![Screen Sho

[2020-04-08 17:41] javadba commented on #16
I give up. I'm shelving kotlin _just due to build tools_

[2020-04-08 21:15] #16 closed

[2020-07-12 05:09] #11 closed

[2020-07-12 05:16] charleskorn commented on #11
Hey @gps, I've just implemented this and it will be part of the upcoming 0.18 release.

[2020-07-12 09:36] gps commented on #11
Hey @charleskorn, awesome, thanks! Will check it out 😀.

[2020-08-11 04:26] jackwener opened #22 "it's terrible that doc not including the instructions about installing"
how annotate @Serializable
how data class own serializer mentod

[2020-08-11 04:50] charleskorn commented on #22
Hi @jackwener, take a look at the documentation for kotlinx.serialization - https://github.com/Kotlin/kotlinx.serialization/. It explains how to use the things you mention.

[2020-08-11 05:03] jackwener commented on #22
Yes, I have notice this. I think that it would be better if there is explanation in the doc

[2020-08-12 11:19] bartwinski opened #23 "Is @SerializedName supported ?"
Hi,
is the annotation **@SerializedName** supported ?

If I added to the field like:
[code]
and the key in the YAML file is "**somekey**" then I get an exception "_com.charleskorn.kaml.UnknownPropertyException: Unknown property 'somekey'. Known properties are: someKey_"
regards
Tomas

[2020-08-17 15:03] 2beaucoup opened #26 "Kotlin 1.4 support"
Would you accept a PR that upgrades to Kotlin 1.4?

We're upgrading to 1.4.0-rc and getting
[code]
with `org.jetbrains.kotlin:kotlin-serialization:1.4.0-rc` and `org.jetbrains.kotlinx:kotlinx-serialization-runtime:1.0-M1-1.4.0-rc`.

Maybe 0.18.x could stay compatible with Kotlin 1.3.

[2020-08-18 09:58] charleskorn commented on #26
I've just added support for Kotlin 1.4.0 and kotlinx.serialization 1.0.0-RC as part of 938d250f59def1079c774b536a7cd3bce209e3d4 and I'll release it shortly.

[2020-08-18 09:58] #26 closed

[2020-08-18 09:59] charleskorn commented on #26
But to answer your original question - in general, yes, I would always be interested in PRs like that :)

[2020-08-18 10:04] charleskorn opened #27 "Break YamlReadingTest into smaller parts"
This file has become huge (2000+ lines 😱), making it difficult to navigate and slow to work with in IntelliJ.

[2020-08-19 05:44] smax48 opened #28 "Support for variable substitution"
Is it possible to parse yaml files with variables in values (something like ${VARIABLE:-default} )?
Looks like snakeyaml-engine has this support, with possibility to provide a custom map as an input.
Would be great to do similar things with kaml - so it would be possible to use this project for app configuration etc.
For example, YamlConfiguration could accept a Map<String, String> with custom var

[2020-08-20 07:53] charleskorn commented on #28
Hey @smax48, thanks for the suggestion. This isn't something that's supported at the moment and I'm not keen to add further functionality to kaml (I'm trying to keep it as focused as possible to make it easy to add support for Kotlin/Native in the future).

If you'd like to build something that adds this functionality on top of kaml, I'd be happy to discuss adding some extension points to support

[2020-08-20 08:09] smax48 commented on #28
Hey @charleskorn, extension would be fine, as long as it is possible to get access to snakeyaml-engine load settings ;)

That's the main problem - YamlParser instantiates & uses that internally. From what I see, there's no other simple way to implement this functionality, other than completely separate the process of values substitution (before calling kaml).
But that would be re-implementing the

[2020-08-20 17:26] Vampire opened #29 "Support for YAML transformations like there is for JSON"
I've just read https://github.com/Kotlin/kotlinx.serialization/blob/v0.20.0/docs/json_transformations.md and really like that.
But I need that for YAML.
If you want to deserialize a GitHub action definition file, you have for example exactly the use-case of polymorphism by shape.
Would be really cool if kaml would also have such functionality built-in.

(Don't wonder that I'm reading the 0.20.0 do

[2020-08-23 03:06] Vampire opened #30 "Custom Polymorphic Serialization"
Didn't want to pollute the #29 feature request, so I'm opening a new question (or bug) issue. :-)

I tried to make a custom serializer as you suggested, following the official example https://github.com/Kotlin/kotlinx.serialization/blob/v0.20.0/runtime/commonTest/src/kotlinx/serialization/json/JsonTreeAndMapperTest.kt#L35 that is linked to from the docs about custom serializers.

In the GitHub act

[2020-08-23 10:54] Vampire opened #31 "parent of YamlNode"
In some situations it would be handy to have the ability to navigate to the parent of a `YamlNode` like if presence of `value` in this example depends on the `using` value:
[code]
If you could navigate to the `YamlNode` you could use a custom serializer for `Output` that looks at the neighbor node.
Currently the only way I see is to have a custom serializer on the common parent of `outputs` and `r

[2020-08-24 06:55] charleskorn commented on #30
This is what I understand them to mean:

`SEALED` means "this is a sealed class using polymorphic serialization", so kaml expects to find a type tag to be able to feed that back into kotlinx.serialization so it can determine which polymorphic serializer to use.

`CONTEXTUAL` means "this type uses a contextual serializer that determines how to deserialize the class", so kaml doesn't do any special

[2020-08-24 07:01] charleskorn commented on #31
Hey @Vampire, it's an interesting idea. It might be a little tricky to implement though as it introduces a bit of a chicken and egg problem (how does the parent get created with a reference to the child if the child needs to be created with a reference to the parent?) but I'm sure there's a solution :)

One thing you might be able to do is look at contextual serializers and see if there's a way to

[2020-08-24 09:27] Vampire commented on #30
I'm new to this, so my interpretation might be wrong, but as far as I understood it, `CONTEXTUAL` means that you don't know anything about the type until runtime and `SEALED` means it is a sealed class where all possible subclasses are known at compile time already.

Indications by the kotlinx.serialization team that kaml is misbehaving:
- kaml does not respect even a manually configured serialize

[2020-08-24 09:47] charleskorn commented on #30
OK, it seems like there are two issues here.

Do you have a code snippet that shows this behaviour? kaml isn't involved in deciding which serializer to use (it just reports information to kotlinx.serialization which then picks the right one), so that sounds like a bug to me.

Interesting, based on looking at the JSON format code I'd expect it to be behaving in a similar way to kaml and throwing an

[2020-08-24 10:16] Vampire commented on #30
I showed you here: https://github.com/charleskorn/kaml/issues/30#issuecomment-678753526
Instead of using that serializer, kaml throws an error because it does not find the type tag which is irrelevant though as a custom serializer should be used that doesn't need it.

Yes, I just tried it, works fine.
Would be very strange otherwise as they use it like that themselves. :-)

[2020-08-24 11:56] Vampire opened #32 "get operator for YamlMap"
I'd like to suggest a `get` operator for `YamlMap`.
It proved useful for me, so you might want to add this to the `YamlMap`.

[code]

It enables things like:
[code]

[2020-08-24 13:08] Vampire opened #33 "Please provide output format settings"
It would be nice if it were possible to be able to influence output format settings like indentation depth, width for line-breaks and similar. Not everyone is happy with SnakeYamls defaults. :-)

[2020-08-24 14:24] Vampire commented on #32
And this here is also handy if you need to get the key for a map entry:
[code]

[2020-08-24 16:41] Vampire opened #34 "branches is not a valid map index"
This is the working JSON version:
**input file:**
[code]
**DAO:**
[code]

----

Now basically the same using YAML and kaml:
**input file:**
[code]

**DAO:**
[code]

----

While the JSON version works properly and outputs `GitHubWorkflow(name=Build and Test, on={push=OnEventDetails(details={branches=[master, development]}), pull_request=null, schedule=OnScheduleDetails(details=[{cron=0 0 * * FRI}])

[2020-08-24 20:59] Vampire commented on #34
Ah, this seems to be another manifestation of the different descriptor / custom serializer handling. If I add a manual descriptor `override val descriptor: SerialDescriptor = SerialDescriptor("net.kautler.dao.GitHubWorkflow.OnDetails", CONTEXTUAL)` it works.

[2020-08-25 09:19] Vampire opened #35 "valid anchor names are not accepted"
According to the YAML spec at https://yaml.org/spec/1.2/spec.html#id2785586 this is the valid character range for an anchor name:
[code]

But kaml only accepts alpha-numeric characters:

[code]

Other anchor-supporting tools like `js-yaml` are perfectly fine with that anchor name.

[2020-08-25 09:20] Vampire commented on #35
Well, it states alpha-numeric, but indeed accepts more as it didn't complain about the underscore

[2020-08-25 09:36] Vampire opened #36 "Include location information in exception toString()"
If you have some exception like `com.charleskorn.kaml.UnexpectedNullValueException: Unexpected null or empty value for non-null field.` this is not too informative about where the problem is in the data. The exception carries the location information but it is not shown anywhwere by default. Would be nice it would for example be automatically added to the message like `com.charleskorn.kaml.Unexpec

[2020-08-25 09:50] Vampire opened #37 "Exception Location information is wrong"
I just got a parse error at `Exception Location: Location(line=243, column=23)` saying `Value for 'distribution1' is invalid: Expected a string, but got a map`.
But in my input file at 243:23 there is no `distribution1` key.
The earliest is at line 557.

Actually at 243:23 I define an anchor for a map.
And then further down e. g. at 557 for `distribution1` I use that anchor.
So the line informatio

[2020-08-25 09:58] charleskorn commented on #33
Hey @Vampire, thanks for the feedback. Do these correspond with snakeyaml's `setIndent` and `setWidth` methods on [`DumpSettingsBuilder`](https://bitbucket.org/asomov/snakeyaml-engine/src/master/src/main/java/org/snakeyaml/engine/v2/api/DumpSettingsBuilder.java), or are you after something else?

[2020-08-25 09:59] charleskorn commented on #32
Hey @Vampire, makes sense to me, thanks for the feedback.

[2020-08-25 10:01] charleskorn commented on #37
Hey @Vampire, thanks for the feedback. Are you able to share a simple sample YAML file that demonstrates the problem? It  would be helpful to be able to reproduce the issue you're seeing so that I can confirm that I've fixed the problem.

[2020-08-25 10:04] charleskorn commented on #36
Hey @Vampire, good point, I'll add that.

[2020-08-25 10:16] charleskorn commented on #35
Hey @Vampire, weird - this is an error coming out of SnakeYAML, but a quick look at the code suggests it should accept that anchor name (it's using the character set defined at https://bitbucket.org/asomov/snakeyaml-engine/src/d27cccc4a4d0221323aa00b8709d7cc8540d3618/src/main/java/org/snakeyaml/engine/v2/common/CharConstants.java#lines-31). I'll dig into this more when I get some spare time.

[2020-08-25 10:18] charleskorn commented on #34
OK, I'm going to close this as a duplicate of #30 then - feel free to reopen this if you feel that's incorrect.

[2020-08-25 10:18] #34 closed

[2020-08-25 10:18] Vampire commented on #33
I guess so, I'm not familiar with SnakeYaml, but I'd like to be able to configure everything format-related the underlying emitter supports.
I'm for example using kaml to read in a GitHub workflow file that has many anchors in it which is not supported by GitHub yet.
But I would need many repetition without anchors and I don't like that.
So I used anchors and now use kaml to read in the file and t

[2020-08-25 10:21] Vampire commented on #34
We will see if it is a duplicate or only similar in case you fix #30 :-D

But just for you to know, I cannot technically reopen an issue you closed unless you make me maintainer of the repository.
Only maintainer can re-open issues and the on that closed it.
So if I close it, I can reopen it.
But if you close it and say "re-open if needed", then this is unfortunately not possible on GitHub, we can

[2020-08-25 10:26] charleskorn commented on #30
Digging into this further, I think this is actually one issue...

kotlinx.serialization's JSON decoder does some special handling when polymorphic types are involved, and invokes a completely different code path [depending on the serializer type](https://github.com/Kotlin/kotlinx.serialization/blob/master/runtime/commonMain/src/kotlinx/serialization/json/internal/Polymorphic.kt#L61) - if the seria

[2020-08-25 10:30] Vampire commented on #37
Sure:
**input file:**
[code]
**DAO:**
[code]
**Result:**
[code]

----

2:7 is the `&` character

[2020-08-25 10:35] charleskorn commented on #30
Issue created: https://github.com/Kotlin/kotlinx.serialization/issues/1009

[2020-08-25 10:35] charleskorn commented on #34
Ah sorry - if #30 doesn't fix this, please just comment here and I'll reopen the issue.

[2020-08-30 00:07] #32 closed

[2020-08-30 03:42] charleskorn commented on #33
@Vampire I've added support for both of those settings, and I'll release a new version soon. Please take a look and let me know if there are further options you would like to see.

[2020-08-30 03:52] charleskorn commented on #35
I'm not able to reproduce this issue - are you able to share a YAML snippet that triggers this error?

[2020-08-30 03:57] #36 closed

[2020-08-30 04:08] charleskorn commented on #37
Just to keep you updated - this is not straightforward to fix, so I'm not going to be able to fix it soon. I'll keep the issue open until I have a chance to take a look at this.

[2020-08-30 16:15] knightzmc commented on #33
To build on this, it would be nice if we could customise the output style of sequences (between block style and flow style).
The system I'm working on expects them in flow style, so unit tests fail (since they literally compare the yaml contents)

I appreciate this isn't a fault of Kaml, but it would be a nice option to have nonetheless

[2020-09-13 16:05] NikkyAI opened #46 "can i do polymorphism with regex of keys?"
i have the followin YAML:

[code]

and would like to deserialize it into

[code]

obviously with a lot more fields
i am not sure how to pick a serializer for value based on key

would this be something handled in serialization or kaml ?

[2020-09-14 09:42] charleskorn commented on #46
Hi @NikkyAI, that isn't something that is natively supported by either kotlinx.serialization or kaml. The best option would be to implement a custom serializer for the top-level map (`{ someid@typeA: ... , someOtherId@typeB: ... }`) that dynamically selects the correct serializer to use for the entries in the map based on the keys.

https://github.com/batect/batect/blob/master/app/src/main/kotlin/

[2020-09-20 01:12] DanySK commented on #5
Is this implemented? How to use it?

[2020-09-20 02:20] charleskorn commented on #5
Hi @DanySK, yes, this is implemented.

To enable strict mode, use the default settings (or set `YamlConfiguration.strictMode` to `true`).

To disable strict mode, set `YamlConfiguration.strictMode` to `false`.

[2020-09-26 23:54] charleskorn commented on #33
Given there's been no activity on this issue for a while and two PRs have been merged for it, I'm going to go ahead and close this issue. If there are other formatting options you'd like to see, please open a new issue.

[2020-09-26 23:54] #33 closed

[2020-09-26 23:55] charleskorn commented on #46
Given there's been no activity on this issue for a while, I'm going to go ahead and close it. If you have any further questions, feel free to add a comment here or open a new issue.

[2020-09-26 23:55] #46 closed

[2020-09-26 23:55] charleskorn commented on #28
Given there's been no activity on this issue for a while, I'm going to go ahead and close it. If you have any further questions, feel free to add a comment here or open a new issue.

[2020-09-26 23:55] #28 closed

[2020-09-26 23:57] charleskorn commented on #31
I've looked into this further and implementing this is non-trivial and so I'm not likely to implement it. If you'd like to submit a PR, you're more than welcome to, but I'm going to go ahead and close this issue as won't fix.

[2020-09-26 23:57] #31 closed

[2020-09-26 23:57] charleskorn commented on #35
Given there's been no activity on this issue for a while, I'm going to go ahead and close it. If you're able to share a YAML snippet that reproduces this issue, I'd be happy to reopen it.

[2020-09-26 23:57] #35 closed

[2020-09-30 06:09] bkenn opened #50 "Introduce encodeNulls in YamlConfiguration"
As seem in https://github.com/Kotlin/kotlinx.serialization/issues/195, I would like to ignore nulls but keep defaults. My use case is creating some kubernetes objects in Kotlin. The nulls clutter up the file. Not sure about the scope of this. I have just been introduced to this project.

[2020-09-30 06:23] charleskorn commented on #50
Hi @bkenn, thanks for the request. This seems to be a duplicate of #8. As explained there, supporting this would require changes in kotlinx.serialization first, so I'd suggest adding your support to the issue you linked to above.

[2020-09-30 14:24] bkenn commented on #50
Thanks for the quick reply. I will be doing that.

[2020-10-03 04:30] #37 closed

[2020-10-03 04:32] charleskorn commented on #37
This has been fixed, and will be part of the next release.

Exceptions now have the concept of a path, which shows the path taken to get to the location of the error. For example `foo.bar`, or in the case of the error above, `foo->&baz`. Exception messages now include the path in `toString()`, and for more advanced use cases, you can inspect the path property to see the location (line and column)

[2020-10-15 15:51] asomov opened #53 "Support in SnakeYAML Engine"
Hi,
thank you for the attempt to support YAML in Kotlin.
Is there anything missing in SnakeYAML Engine you would like to add or change ?

I am a SnakeYAML developer.
Cheers,
Andrey

[2020-10-15 21:43] charleskorn commented on #53
Hi @asomov, thanks for reaching out! At the moment, I don't think there's anything I would want to add or change to SnakeYAML, but I'll let you know if I think of anything.

[2020-10-18 06:45] #53 closed

[2020-10-30 03:42] FlatMapIO opened #54 "How to load multi yaml documents from a single file?"
sample:

[code]

[2020-10-30 06:39] charleskorn commented on #54
Hey @FlatMapIO, thanks for the question. This currently isn't supported. What kind of Kotlin type would you expect this to deserialize to?

[2020-10-30 09:22] FlatMapIO commented on #54
Thanks for your reply. I have some kubernetes resouces and CRDs, and I use yaml as my application config file.

[2020-10-30 22:03] charleskorn commented on #54
Are you using the one YAML file for all application environments? (I'd suggest using separate files for each environment.)

[2020-10-31 12:04] FlatMapIO commented on #54
It is currently separated into multiple files, but in some other use cases, such as k8s, this is not a good solution.

[2020-10-31 22:36] charleskorn commented on #54
What Kotlin type would you want to deserialize this YAML input to? A list?

[2020-11-03 06:09] FlatMapIO commented on #54
May be List<YamlNode>? which can be easily converted to (data) class.

[2020-11-03 17:58] NiematojakTomasz opened #57 "YamlException should inherit SerializationException"
com.charleskorn.kaml.YamlException should inherit from kotlinx.serialization.SerializationException
or
be wrapped in SerializationException before being thrown to user

[2020-11-03 21:02] charleskorn commented on #54
I'd suggest something like `List<Config>` where `Config` is defined like `data class Config(val env: String, val value: Int)` - is there a reason why you want it to be a list of `YamlNode`?

[2020-11-03 21:09] #57 closed

[2020-11-03 21:09] charleskorn commented on #57
Good catch, I've just fixed this and will push out a new version shortly.

[2020-11-10 03:53] FlatMapIO commented on #54
Because the type of each document cannot be resolved at once 😀

[2020-11-10 08:31] charleskorn commented on #54
For serializing to YAML, how would you want to signal to kaml that it should treat the list as a list of documents rather than an ordinary list?

[2020-11-13 12:46] hojongs opened #61 "How to load empty property value without InvalidPropertyValueException?"
### Version Info
kotlin 1.14.10
kaml 0.26.0
kotlinx-serialization 1.0.1

### Use-case
[code]

[code]

### Result
[code]

### Expected Result
[code]

[2020-11-13 22:16] charleskorn commented on #61
In YAML, an empty value is considered a `null` (see [10.3.2](https://yaml.org/spec/1.2/spec.html#id2805071) in the YAML spec). So you have two options:

1. Change the YAML file to set the value of `internalSecret` to `""`, for example:

[code]

2. Allow `null` values on `TestConfig.internalSecret`.

[2020-11-14 03:30] hojongs commented on #61
First one is what I want. and it works well :)
Thank you for your answer!
(I think second one is also work but that's not what I need.)

[2020-11-14 03:30] #61 closed

[2020-11-24 23:15] dodalovic opened #67 "Please provide a description how to use"
Hi, I'm trying to use the tool you provided, but without luck so far.

What do I need to configure in my Gradle project?

Thank you!

[2020-11-25 05:37] charleskorn commented on #67
Hi @dodalovic, [the readme](https://github.com/charleskorn/kaml#referencing-kaml) contains this section:

Is this not clear? I'm happy to flesh it out further if it is not clear enough.

[2020-11-25 07:14] dodalovic commented on #67
Thanks, I was able to get it to work... Maybe just putting somewhere info what are the dependencies from `kotlinx-serialization`

Thanks

[2020-11-25 08:57] #67 closed

[2020-11-25 08:57] charleskorn commented on #67
Thanks for the feedback - I've just added more details to the readme. Please let me know if you think there's anything else I can do to make it clearer.

[2020-12-05 21:48] renovate[bot] opened #68 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: The renovate configuration file contains some invalid settings
Message: Custom Manager contains disallowed fields: semanticCommitScope

[2020-12-16 14:19] Hai-tun opened #70 "."

[2020-12-16 14:24] #70 closed

[2021-02-01 21:26] F0Xde opened #84 "Print YamlNodes"
Sorry if this is an unnecessary question, but due to the lack of documentation I am unsure how I would go about constructing a YAML document manually from the different `YamlNode` types and then "serialize" it later (like one could do with the typical `JsonElement`s).
The only thing I could find was the `contentToString()` function, but while this may be fine it does not provide a way to format th

[2021-02-03 05:13] charleskorn commented on #84
Hi @F0Xde, this isn't something that is currently supported. Writing a `YamlElementSerializer` similar to the built-in `JsonElementSerializer` wouldn't be too difficult - if you're interested in doing this, I'd gladly accept a PR, but I don't have time to add this at the moment.

[2021-02-07 06:31] asomov opened #87 "Support for comments"
Hi, there is [a pending PR in SnakeYAML Engine](https://bitbucket.org/asomov/snakeyaml-engine/pull-requests/1) with implementation for parsing and serializing comments.
Do you think this project might benefit from this feature ?

Cheers,
Andrey

[2021-02-07 08:35] charleskorn commented on #87
Hi @asomov, I'm not sure it would be so helpful for this project - kotlinx.serialization doesn't have support for comments, so I'm not sure how kaml could surface them. Was there a particular implementation you had in mind?

[2021-02-07 10:17] asomov commented on #87
I know that in Jackson they ask a lot to support comments even though it should be even more complex.
I just wanted to know if there is a use case in kaml

[2021-02-07 10:17] #87 closed

[2021-02-17 11:12] asomov opened #90 "SnakeYAML support comments"
There is a feature in SnakeYAML Engine 2.3 (not yet released) which allows to (de)serialize comments up to Node.
I wonder if this feature can be used here.
It would be nice to evaluate the API before it is released

[2021-02-17 21:16] charleskorn commented on #90
Hi @asomov, thanks for getting in touch and thanks for all your work on SnakeYAML, it's a great library.

As I said in #87, I'm not sure kaml has a good way to expose comments given it is just a translation layer for kotlinx.serialization, which has no concept of comments. Was there a particular use case you had in mind? If so, it might be worth raising the idea of support for comments with the ko

[2021-04-25 00:10] charleskorn commented on #90
Closing due to inactivity.

[2021-04-25 00:10] #90 closed

[2021-04-25 00:11] charleskorn commented on #54
Closing due to inactivity.

[2021-04-25 00:11] #54 closed

[2021-04-25 00:11] charleskorn commented on #50
Closing due to inactivity.

[2021-04-25 00:11] #50 closed

[2021-04-28 14:22] leonardo-colman opened #125 "Support reading yaml from InputStream"
Currently, what must be done is
[code]

I propose having an helper function that reads directly from a stream:

[code]

[2021-04-28 14:22] #125 closed

[2021-04-28 14:23] LeoColman opened #126 "Support reading yaml from InputStream"
Currently, what must be done is
[code]

I propose having an helper function that reads directly from a stream:

[code]

[2021-04-29 05:03] charleskorn commented on #126
Hi @LeoColman, that sounds like a good idea to me. Would you be interested in submitting a PR with that helper method?

[2021-05-02 16:14] LeoColman commented on #126
Absolutely! I got it ;)

[2021-05-12 09:08] XiangRongLin opened #138 "Add ⚠️ icon to breaking changes in release notes of 0.19.0"
I was updating your library from 0.17.0 to 0.32.0 and just skimmed through your release notes in order to look for breaking changes. I saw that you marked them with ⚠️, so they were easy to find.
But for 0.19.0 you missed that, so i had to figure it out myself until i actually read the notes themselves.

I would find it very useful if you edited the release and added that icon

[2021-05-12 22:53] charleskorn commented on #138
Thanks for the feedback @XiangRongLin, I've updated the release notes to better highlight breaking changes like you suggest.

[2021-05-12 22:53] #138 closed

[2021-05-20 00:01] uinnn opened #142 "Decoder for Structure serials not working"
I'm getting this error:

`kotlin.UninitializedPropertyAccessException: lateinit property currentValueDecoder has not been initialized
        at com.charleskorn.kaml.YamlMapLikeInputBase.getCurrentValueDecoder(YamlInput.kt:244) ~[?:?]
        at com.charleskorn.kaml.YamlMapLikeInputBase.fromCurrentValue(YamlInput.kt:269) ~[?:?]
        at com.charleskorn.kaml.YamlMapLikeInputBase.decodeString(Yaml

[2021-05-20 00:50] uinnn commented on #142
I tested without using sequentially and works perfect, but you maybe can put support for decode sequentially? Well, i will close this issue.

[2021-05-20 00:50] #142 closed

[2021-05-20 08:23] charleskorn commented on #142
Hi @uinnn, could you share a repository that demonstrates this issue?

[2021-05-20 13:10] uinnn commented on #142
Here: [https://gist.github.com/uinnn/08a15a8e94e4ae9798c14b5bc91d7a7e](code)

[2021-06-06 14:55] uinnn opened #145 "Support comments"
Hi, maybe you could add support for comments in kaml?
A example what could be: [example](https://gist.github.com/uinnn/cfe1579a9441e843a0964ab1a90b5e78)

[2021-06-07 10:22] charleskorn commented on #145
Hi @uinnn, supporting comments would require support from kotlinx.serialization. I'd suggest raising a feature request with them as a first step.

[2021-06-07 10:23] #145 closed

[2021-06-13 15:46] BloodWorkXGaming opened #149 "~ can not be used as a replacement for null"
I just noticed that if you have a nullable list like
[code]
and you try to read it with
[code]

It fails with the exception:

[code]

[2021-06-13 15:51] BloodWorkXGaming opened #150 "Not all yaml equivalents for Boolean values are supported"
Looking through the sourcecode it seems like only a few of the boolean equivalents are supported.

The full List is here: https://yaml.org/type/bool.html

https://github.com/charleskorn/kaml/blob/2657221465168e85d2c810a58ef73f362679ed97/src/commonMain/kotlin/com/charleskorn/kaml/YamlNode.kt#L86-L87

[2021-06-13 16:01] BloodWorkXGaming commented on #150
My bad, just found out that the spec I checked is only 1.1 not 1.2 which is lib is targeting.

Leaving this open for you to close and decide how to handle it.

[2021-06-13 16:04] BloodWorkXGaming commented on #149
Looking further at the spec, I figured out that ~ is only supported in the Core spec, not the JSON spec.
Which spec is this library targeting?
https://yaml.org/spec/1.2/spec.html#Schema

[2021-06-14 06:23] charleskorn commented on #150
Yep, this library targets YAML 1.2, and that defines the following as being allowed values for booleans ([source](https://yaml.org/spec/1.2/spec.html#id2805071)):

[code]

[2021-06-14 06:24] #150 closed

[2021-06-14 06:27] charleskorn commented on #149
Thanks for the report @BloodWorkXGaming, you're correct - `~` should be treated as a null value. In the JSON schema, `null` is the canonical form (so `null` should be emitted by default), but this should not impact parsing.

Would you be interested in submitting a PR to fix this issue? https://github.com/charleskorn/kaml/blob/main/src/jvmMain/kotlin/com/charleskorn/kaml/YamlNodeReader.kt#L64 looks

[2021-06-14 06:46] BloodWorkXGaming commented on #149
Yes, thank you, that looks pretty straight forward to fix. Will try to fix it and open a new PR :)

[2021-07-25 04:47] #126 closed

[2021-07-25 04:55] #149 closed

[2021-07-31 19:11] MiSikora opened #166 "`kotlinx.serialization` should be exposed as `api`"
`kaml` relies on `kotlinx.serialization` library in its public API and isn't usable without declaring an additional dependency on the artifact from the users.

https://github.com/charleskorn/kaml/blob/0890a9fedd1697c1e355a7e3455d00404385474b/build.gradle.kts#L56-L60

[2021-08-01 03:35] #166 closed

[2021-08-01 03:36] charleskorn commented on #166
Good catch, thanks @MiSikora. I've fixed this and will push out an updated version shortly.

[2021-08-12 15:23] MiSikora opened #169 "Accumulate duplicated keys"
In case of multiple key duplicates I would like to see information about all of them and not first one encountered. Would it be possible to make it a configurable behaviour? I can make a PR if it is something you see fitting for the library.

[2021-08-12 22:52] charleskorn commented on #169
Hi @MiSikora, if you're interested in making a PR, that would be a great enhancement. I'm not sure we need to make it configurable - I'm thinking we can just always report all duplicates. What do you think?

[2021-08-13 06:30] MiSikora commented on #169
Sure, if you think it would be good default I'm all for it.

[2021-08-13 19:21] MiSikora commented on #169
I played around with for a while today and I have couple of questions.

https://github.com/charleskorn/kaml/blob/8fcf0ebfd028044dee811dc9538fb94b3882caff/src/commonMain/kotlin/com/charleskorn/kaml/YamlException.kt#L23-L33

Is `toString()` override on `YamlException` necessary? Exceptions have messages and overriding `toString()` seems a bit overzealous. Also, are `path`, `line` and `column` proper

[2021-08-13 23:35] charleskorn commented on #169
Great question.

I'd like to preserve the path and location (line and column) information wherever possible - this is really helpful when presenting information about the error to a user, and I know of at least one consumer of the library that uses this information extensively. For example, being able to say "property 'blah' on line 2, column 5 has value 'abc' which is not a valid boolean value" i

[2021-08-16 22:37] QuinnBast commented on #30
Hello!! I found this issue and I don't know where else to ask about this but this seems like the most relevant place.

I have a YAML data type that may be defined as two different types but depend on the value of another field in the type. For example:

[code]

I am attempting to create a custom `KSerializer` for this but have had no luck so far. Any guidance would be greatly appreciated :)

[2021-08-16 23:00] charleskorn commented on #30
@QuinnBast, if the `type` field determines what Kotlin type to use, you don't need to use a custom serializer, you can use built-in features of kotlinx.serialization and kaml.

https://github.com/Kotlin/kotlinx.serialization/blob/master/docs/polymorphism.md describes the polymorphism support available in kotlinx.serialization, and uses the built-in JSON format for its examples.

For kaml, you can

[2021-08-22 19:33] johanvergeer opened #175 "How to remove type information with polymorphic output?"
I'm working on a dsl for [Azure DevOps YAML Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema) and they have a block called `variables` that can contain a few types.

[code]

I've been working on this for a while now and by now I have been able to create a list of `Variable`

[code]

This will generate the following output:

[code]

So how would I be able to create the

[2021-08-22 19:35] johanvergeer commented on #175
I was just able to rename the `name` field of the `Group` class to `group` using `@SerialName("group")`

[code]

This gives the following output and brings me one step closer to the solution.

[code]

Now I just need to get rid of the `type` field. Do you think my previous suggestion will work?

[2021-08-22 19:49] johanvergeer commented on #175
The only issue I see at this moment is that this can be used to serialise. But it will be hard to deserialise when the type is not known.

Is it ok when that would be a known limitation of `PolymorphismStyle.None`?

[2021-08-25 04:53] renovate[bot] opened #178 "Dependency Dashboard"
This issue contains a list of Renovate updates and their statuses.

## Ignored or Blocked

These are blocked by an existing closed PR and will not be recreated unless you click a checkbox below.

 - [ ] [Update openjdk Docker tag to v16](../pull/137)

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-08-30 08:22] #178 closed

[2021-09-02 18:45] ukarlsson opened #179 "Polymorphic serialization hangs"
Hello. Many thanks for this great library. We ran into an issue that is quite strange. The deserialization hangs in this specific case, meaning that the process does not terminate, but uses 100% CPU.

[code]

This is what I see when I pause and enter debugger

![image](https://user-images.githubusercontent.com/2630658/131899310-2ef9d2a5-e04f-4f3a-87d6-430dbed4bf16.png)

[2021-09-04 05:33] charleskorn commented on #175
Hi @johanvergeer, did that work for your situation?

[2021-09-04 05:34] charleskorn commented on #179
Thanks for the bug report @ukarlsson. Are you able to share a sample project that triggers this issue?

If not, could you please share what version of kaml, Kotlin and kotlinx.serialization you're using?

[2021-09-04 12:16] ukarlsson commented on #179
Latest versions that I could find. I attached project

[kaml-bug.tar.gz](https://github.com/charleskorn/kaml/files/7109725/kaml-bug.tar.gz)

[2021-09-04 12:21] ukarlsson commented on #179
I tried  to add a unit test, but there is some issue with gradle. I can neither run i IntelliJ nor in batect. Get this error

[code]

[2021-09-05 05:56] charleskorn commented on #179
Thanks for the sample project.

I've been able to reproduce the issue, and slightly simplify the scenario that triggers it:

[code]

The hang doesn't happen when `PolymorphismStyle.Property` is used - it only affects tagged polymorphism.

[2021-09-05 06:26] #179 closed

[2021-09-05 06:45] charleskorn commented on #179
Thanks again for reporting this issue @ukarlsson. I've fixed it and [0.35.3](https://github.com/charleskorn/kaml/releases/tag/0.35.3) includes the fix.

Note that this may be a vulnerability depending on how your application uses kaml - please see [the security advisory](https://github.com/charleskorn/kaml/security/advisories/GHSA-fmm9-3gv8-58f4) for more information.

[2021-09-06 07:14] ukarlsson commented on #179
Many thanks for fixing quickly!

[2021-09-06 07:16] ukarlsson opened #182 "Problem building kaml"
### Describe the bug

I tried to add a unit test, but there is some issue with gradle. I can neither run i IntelliJ nor in batect. Get this error

[code]

### Reproduction repo

_No response_

### Steps to reproduce

N/A

### Expected behaviour

N/A

### Actual behaviour

N/A

### Version information

[code]

### Any other information

_No response_

[2021-09-06 15:15] johanvergeer commented on #175
Hi @charleskorn I'm pretty busy at the moment at work, so I haven't been able to get it working yet. (Also because I'm no expert so I need some figuring out :wink:)

I will give it a try later this week.

[2021-09-06 23:40] charleskorn commented on #182
I'm not able to reproduce the problem sorry... what happens if you run `./gradlew check`?

Also, have you made any changes to the Gradle configuration?

[2021-09-07 08:21] ukarlsson commented on #182
Ok got it. It must have been something that happened when I opened with IntelliJ, now it works as you say. Thanks

[2021-09-07 08:21] #182 closed

[2021-09-11 11:44] johanvergeer commented on #175
Hi @charleskorn That works like a charm. Thanks for your help. 😄

[2021-09-11 11:44] #175 closed

[2021-09-30 17:20] RinOrz commented on #30
I have the same problem. **kaml** does not use `@Serializable(with = CustomSerializer::class)`annotations on properties, but **JSON** doesn't have this problem.

**For JSON:**
[code]
[code]

**For kaml:**
[code]

[code]

[code]

[2021-10-01 23:23] charleskorn commented on #30
@RinOrz, I suspect the issue is that the `descriptor` in `StringOrObjectSerializer` says that the serializer only supports lists. Could you try modifying `descriptor` to report that the serializer supports either strings or lists?

Something like this should work:

[code]

If not, could you please create a sample project that reproduces the issue so I can investigate further?

[2021-10-02 05:55] RinOrz commented on #30
@charleskorn Thank you. It successfully called `deserialize`, but sent an error:
[code]

[2021-10-03 00:34] charleskorn commented on #30
It's very difficult to diagnose the problem without a full sample project and a complete stack trace - without these, I can't see where the problem is coming from. Could you please create a sample project that demonstrates the issue and share a link to it?

[2021-10-03 04:09] RinOrz commented on #30
@charleskorn In fact, the above code is a complete example, but for convenience, I created a minimal project to reproduce the problem: https://github.com/RinOrz/kaml-bug30/blob/master/src/test/kotlin/Tests.kt

[2021-10-03 05:13] charleskorn commented on #30
The issue is that you need to call `beginStructure` twice: once to start decoding the contextual structure, and then again to decode the value itself. kaml is quite strict about this, while it seems that the built-in JSON format is far more lenient.

For example, the following appears to work in the sample project you provided:

[code]

[2021-10-07 21:48] #30 closed, assigned to nobody

[2021-12-20 03:12] jakobkmar opened #217 "Option to resolve $ref style references"
### Describe the problem you'd like to solve

![image](https://user-images.githubusercontent.com/52456572/146706274-9b8f53c9-5ec1-418c-af5a-cf02524c7680.png)
I want to resolve references like this one.
The reference points to another node in the same file.

I don't know how I would do this with the normal kotlinx.serialization api, but for the yaml parser itself this should be possible.

### Descr

[2021-12-20 03:34] charleskorn commented on #217
Hi @jakobkmar, given this isn't a standard YAML feature, I'm not keen to add it to kaml.

kaml does already support YAML's anchors and aliases feature, which you could use to achieve the same result.

If you can't change the format of the file, I'd suggest either resolving the references in your application, or look at using a lower-level library like SnakeYAML.

[2021-12-20 03:36] jakobkmar commented on #217
thank you for the quick reply

do you have a suggestion how this can be done? the problem in my case is that this `parameter` property does not always contain a reference, sometimes it is a reference, sometimes the values are inlined

[2021-12-20 03:43] charleskorn commented on #217
You could deserialise into a polymorphic type that represents either a concrete value or a reference, then go through and resolve the references to the concrete values

[2021-12-20 03:43] jakobkmar commented on #217
I will have a look into that, thank you!

[2021-12-20 23:27] jakobkmar commented on #217
If the content (in my example) can be either this:
[code]
 or this (with `$ref`):
[code]
 then how could this be represented using polymorphism?
 And which polymorphism style of kaml should I use in this case?

[2021-12-20 23:39] jakobkmar commented on #217
Oh just read about [content based polymorphic deserialization](https://github.com/Kotlin/kotlinx.serialization/blob/master/docs/json.md#content-based-polymorphic-deserialization), thats what I need.
Thank you for pointing me in the right direction :)

From my side, this issue is resolved now!

[2021-12-21 09:14] #217 closed

[2022-01-04 10:48] bishwenduk029 opened #222 "Support for option to serialize a List of strings to multi-line string in yaml output"
### Describe the problem you'd like to solve

Support multi-line String serialization in yaml output for POJO -> List<String>.

```data class POJO(examples: List<String>)```

allow to be serialized to below with pipe operator ( | )

[code]

### Describe the solution you'd like

Currently we can use YamlConfiguration to control the output format of the yaml being produced from an object. If we can

[2022-01-04 21:54] charleskorn commented on #222
Thanks for the suggestion @bishwenduk029.

Based on my reading of the [relevant section of the YAML 1.2 spec](https://yaml.org/spec/1.2.2/#literal-style), my understanding is that `|` can only be used with scalar values (eg. strings), and not lists / collection types.

Is there a reason you want the output to be in this particular format?

[2022-01-13 09:32] Virtlink opened #227 "Inline types give exception: Expected an object, but got a scalar value"
### Describe the bug

When using an inline type that is serializable, Kaml throws an exception: `Expected an object, but got a scalar value`.

### Reproduction repo

Here is a test that demonstrates the issue:

[code]

### Steps to reproduce

Create a `@Serializable @JvmInline value class` and use its type in a data class. When writing the type to YAML, it works fine, but when reading the type fro

[2022-01-13 09:34] Virtlink opened #228 "Make decodeFromReader() public, add encodeToWriter(), encodeToStream()"
### Describe the problem you'd like to solve

The methods on the `Yaml` object for reading and writing are not balanced.

### Describe the solution you'd like

I propose to make `decodeFromReader()` public, and to add `encodeToWriter()` and `encodeToStream()` as encoding methods that correspond to the decoding methods.

### Describe alternatives you've considered

_No response_

### Additional con

[2022-01-14 22:31] charleskorn commented on #228
Thanks for the suggestion @Virtlink. That makes sense to me. Would you be interested in submitting a PR for this? Otherwise I will take a look when I get a chance.

[2022-01-14 22:47] #227 closed

[2022-01-14 22:47] charleskorn commented on #227
Thanks for the bug report @Virtlink. I've fixed this issue and will publish a new version shortly.

[2022-01-16 03:05] charleskorn commented on #228
I've added support for `encodeToStream()`.

I'm hesitant to expose `decodeFromReader()` - is there a reason why you need this over `decodeFromStream()`?

[2022-01-17 00:11] Virtlink commented on #228
Thanks for looking into this.

The reason I proposed making `decodeFromReader()` public, is because it's the text-oriented counterpart of the byte-oriented `OutputStream`. I have had situations where I get some reader (e.g., `StringReader`, `InputStreamReader`, `PushBackReader`) and therefore know the input is textual, without having an underlying stream (if it exists at all).

For example, I like

[2022-01-17 10:38] bishwenduk029 commented on #222
@charleskorn , Thanks for the quick response. You are actually right. But I was just thinking like how would one represent a multi-line string in POJO. Like it can be a list of strings or string separated on some special character which can be serialized in this form. So may be some sort of an API in kaml, which allows configuring this behaviour?

As for my use case, I was trying to capture user i

[2022-01-17 21:47] sjshuck opened #231 "Ability to serialize/deserialize unstructured data"
### Describe the problem you'd like to solve

Sometimes I need to be able to break the glass and serialize/deserialize YAML without having well-structured POJOs/KOJOs.

### Describe the solution you'd like

I'd like a canonical "vanilla" representation of YAML.  It does not have to implement all YAML features (e.g., SnakeYAML chokes on tags in its vanilla codec implementation, and I'd be fine with

[2022-01-18 09:51] charleskorn commented on #228
So, just to confirm, the main use case for `decodeFromReader()` for you is to make tests simpler? Or is there a scenario in your production code where this is valuable?

I'm not against the idea, but it does make future internal changes more difficult, and I wouldn't be able to easily expose a `encodeToWriter()` method, as the underlying YAML library I'm currently using (snakeyaml-engine) doesn't

[2022-01-18 09:55] charleskorn commented on #222
The standard way to represent a multi-line string in a POJO would be a string with new line characters (`'\n'`).

kaml already handles multi-line strings correctly, and will serialize them to YAML in a format that any standard-compliant YAML parser will be able to read. Given you're using YAML to move data from one process to another without any human involvement, I'd suggest sticking to the stand

[2022-01-18 09:58] charleskorn commented on #231
Thanks for the report @sjshuck.

To clarify your request, are you looking for something like [kotlinx.serialization's `JsonElement`](https://github.com/Kotlin/kotlinx.serialization/blob/master/docs/json.md#parsing-to-json-element)? Or are you looking for a generic YAML parser independent of kotlinx.serialization?

If the latter, that is currently out of scope for kaml - it specifically targets kot

[2022-01-18 10:18] Virtlink commented on #228
Yes, I tried call `decodeFromReader()` while writing tests and that's when I found it non-public. However, if it's not possible to have a `encodeToWriter` and/or it makes internal changes harder, then it might make sense to leave the method hidden. For string-based tests I can call `decodeFromString()`.

[2022-01-18 11:31] sjshuck commented on #231
Hey, thank _you_ for the response.

I think I'm looking for the former.  In addition to `JsonElement`, there's the helper method `Json.parseToJsonElement`.  I was looking for something like `Yaml.default.parseToYamlNode`.  In fact, I'd be fine with `Yaml.default.parseToJsonElement` or with a deserialization strategy for `JsonElement`, if there are concerns about making one for `YamlNode` (YAML its

[2022-01-18 13:36] #222 closed

[2022-01-19 06:33] brizzbuzz opened #232 "Non-JVM targets are not supported"
### Describe the bug

Hey, TBH I'm not sure if this is a bug or just not implemented yet, I'm very new to Kotlin Multiplatform :) I'm trying to leverage Kaml to deserialize some YAML files in a MPP project, but it seems like trying to leverage Kaml in `commonMain` is not implemented yet when targeting non-JVM applications.

[code]

### Reproduction repo

So, this is the repo I am currently trying

[2022-01-20 07:04] charleskorn commented on #228
Let's stick with the stream methods for now. If there's more demand for the `Reader` / `Writer` methods in the future then I'd be happy to reconsider.

[2022-01-20 07:04] #228 closed

[2022-01-20 07:18] charleskorn commented on #232
Hi @unredundant, yep, unfortunately kaml currently only supports JVM targets. I'd love to support other targets, but that's a long way down my current list of priorities.

If you (or anyone else reading this) is interested in submitting a PR, there are three possible options I see for implementing this:

1. Find an existing pure-Kotlin YAML parser and use that as a replacement for SnakeYAML
2. Wri

[2022-01-20 08:54] charleskorn commented on #231
Right, makes sense. Would you want to be able to go in the other direction as well? (eg. convert a `YamlNode` instance to a YAML string)

If you're interested in submitting a PR, adding a `parseToYamlNode` method should be very straightforward - [`decodeFromReader` already has access to the `YamlNode`](https://github.com/charleskorn/kaml/blob/675f930eb9395d567cb0ff2ae1f37692eca381eb/src/jvmMain/ko

[2022-01-20 09:10] sjshuck commented on #231
Great.  It's not pressing for me so I don't know exactly when I can get to
it, but I'd be happy to try to work on it if you want to keep this ticket
open for a bit.

On Thu, Jan 20, 2022, 3:54 AM Charles Korn ***@***.***> wrote:

[2022-01-20 09:10] sjshuck commented on #231
Re: other direction, I'd have to think about it.

On Thu, Jan 20, 2022, 3:54 AM Charles Korn ***@***.***> wrote:

[2022-02-19 13:54] westnordost commented on #232
Any idea how [Him188](https://github.com/Him188) / [yamlkt](https://github.com/Him188/yamlkt) does it? According to https://github.com/Kotlin/kotlinx.serialization/tree/master/formats#yaml-multiplatform it is YAML multiplatform but looking through their build config, I haven't found any hint of what they are using as parser on JS/Native.

[2022-02-19 20:46] charleskorn commented on #232
They've written their own YAML parser, but the feature set is limited. From their readme:

[2022-02-26 18:47] peterfigure opened #245 "Support for YAML block scalars"
### Describe the problem you'd like to solve

Working on a DSL for github actions, would be really nice if a multiline string or list of strings gets rendered as a block scalar, eg: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idstepsrun

It makes for much easier debugging & readability than `\n` separated strings

### Describe the solution you'd li

[2022-02-27 12:44] FloEdelmann opened #246 "Add generic extension functions for `decodeFromStream`/`encodeToStream`"
### Describe the problem you'd like to solve

For string (de)serialization, you can use the [generic `decodeFromString` / `encodeToString` extension functions](https://github.com/Kotlin/kotlinx.serialization/blob/v1.3.2/core/commonMain/src/kotlinx/serialization/SerialFormat.kt#L84-L97) without having to explicitly specify a serializer. Since kaml's `Yaml` class [implements the `StringFormat` inter

[2022-02-27 21:46] charleskorn commented on #246
Makes sense to me. Would you be interested in submitting a PR with those changes @FloEdelmann?

[2022-02-28 17:27] FloEdelmann commented on #246
Done: #248

[2022-03-01 02:21] charleskorn commented on #245
Resolved by #247.

[2022-03-01 02:21] #245 closed

[2022-03-02 21:23] #246 closed

[2022-05-05 13:28] paalpri opened #279 "Stops working when upgrading above 0.28.3"
### Describe the bug

Hi!

Firstly, great work on the project!

We have been using the YAML parser for a bit of time now and it's been working great, but now we want to upgrade our dependencies and have a problem when trying to upgrade above 0.28.3.

On 0.28.3 it works as usual, but any version number above that we are getting errors.

We are experiencing the following error during compilation:
`

[2022-05-05 21:07] charleskorn commented on #279
Hi @paalpri, it's quite hard to debug this issue without a sample project that demonstrates the issue, as it could be any of a number of different things that is causing this.

Are you able to share your project, or, alternatively, share a sample project that shows the same behaviour?

[2022-05-06 22:26] charleskorn commented on #279
0.29.0 was the first version to be published using Kotlin's multiplatform project format.

I've never used Maven with a multiplatform library, so I'm not sure if Kaml would need to be referenced in a slightly different way to support this. For example, you may need to change `<artifactId>kaml</artifactId>` to `<artifactId>kaml-jvm</artifactId>`.

(Gradle automatically picks up the right variant of

[2022-05-13 18:17] DasLixou opened #284 "Add IgnoreEmpty in YamlConfiguration"
### Describe the problem you'd like to solve

Hello! I want to have defaults so that when a property is missing it just gets the default of the kotlin data class. Only problem: Kaml throws an `Exception in thread "main" com.charleskorn.kaml.EmptyYamlDocumentException at <root> on line 1, column 1: The YAML document is empty.` Error, because the file is empty.

### Describe the solution you'd like

[2022-05-13 22:22] charleskorn commented on #284
Seems sensible to me - would you be open to putting together a PR for this?

[2022-05-13 22:23] charleskorn commented on #284
(for anyone else coming across this issue: for further context, see https://github.com/charleskorn/kaml/discussions/281#discussioncomment-2747600)

[2022-05-14 17:44] DasLixou commented on #284
Sure I’ll try my best :)

[2022-05-31 18:51] akuleshov7 commented on #232
Omg, instead of contributing to this awesome project and help with writing a parser, they have written their own serializer.
Now we have two incomplete projects...

[2022-06-19 20:17] YuryMikhailuts opened #298 "Yaml and YamlConfiguration Builders"
### Describe the problem you'd like to solve

When using other serialization libraries, I got used to the ability to create everything using builders. This is very lacking in this library.

### Describe the solution you'd like

According to my ideas, it might look something like this:

[code]

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-06-20 03:16] charleskorn commented on #298
Hi @YuryMikhailuts, this looks good to me. Would you be interested in submitting a PR with this?

[2022-06-20 05:11] YuryMikhailuts commented on #298
Unfortunately, I have a lot of work to do right now. Creating this discussion is all I can do right now. It is possible that I will join your project later.

[2022-06-29 16:38] Kadeluxe opened #300 "Primitive serialization not working?"
### Describe the bug

[Primitive deserialization](https://github.com/Kotlin/kotlinx.serialization/blob/master/docs/serializers.md#primitive-serializer=) is not working.

### Reproduction repo

This serializer class works for JSON but not for YAML.

[code]

### Steps to reproduce

Create simple primitive serializer as described in [docs](https://github.com/Kotlin/kotlinx.serialization/blob/master/d

[2022-07-03 16:03] pschichtel commented on #84
I just started implemting such a serializer

[2022-07-03 19:00] pschichtel commented on #84
I created #302, but I'm personally not happy with the implementation and I'll be switching to a different approach anyway, but maybe someone else can pick this up.

[2022-07-05 09:40] charleskorn commented on #284
Given the issues discussed in #286, I'm going to close this as "won't fix".

[2022-07-06 10:08] pschichtel opened #303 "YamlScalar loses type information"
### Describe the bug

I've written a tiny function to convert YamlNode's into JsonElement's (the stuff I'm reading is always JSON compatible). As part of that I have to convert YamlScalar to JsonPrimitive.

I generally I don't have an issue with kaml's approach to scalars, however it is a little unfortunate that it even loses whether the scalar was a string (as-in: the value was quoted). I'm not s

[2022-07-06 10:50] pschichtel commented on #303
ah ok, so the argument is that since kotlinx.serialization is focused on object mapping, type info would be taken from the object being deserialized. But I wonder if this would make it hard to write e.g. an Any deserializer. JsonPrimitive is essentially similar to YamlScalar, but they have a isString flag that can be supplied to indicate that it really was a string (and a field to check it). all o

[2022-07-06 10:56] pschichtel commented on #303
straight from JsonPrimitive's code:

[code]

[2022-07-06 11:12] charleskorn commented on #303
If you'd like to add a PR for `isString` to `YamlScalar`, I'd be open to that.

However, I suspect you'll run into other similar issues for other scenarios, so something like SnakeYAML will likely be better suited to your use case.

[2022-07-06 12:34] pschichtel commented on #303
Yeah I definitely agree that directly using SnakeYAML is probably the better approach for my use-case, but the improvement might still be nice.

[2022-07-11 10:41] sjshuck commented on #231
I'm happy with @kitterion 's solution.  Thanks for keeping this open despite me not finding time to work on it.

[2022-07-11 10:41] #231 closed

[2022-07-11 22:00] Vampire commented on #32
Hi there, did you not like the second one, or just overlooked it?
In the current version it would be
[code]

[2022-07-12 00:40] Vampire opened #305 "Wrong encoding used for stream methods"
### Describe the bug

The current code uses for example `InputStreamReader(source)`.
This uses the JVM default encoding.
From Java 18 on, this will usually be `UTF-8` but can also be reconfigured.
Before Java 18, this is system dependent and often is not `UTF-8`.
And even if it were always `UTF-8`, Yaml parsers have to support `UTF-8` and `UTF-16` with and without BOM for 1.1 and also `UTF-32` for

[2022-07-12 07:21] charleskorn commented on #305
Thanks for the bug report @Vampire. I'll take a look.

[2022-07-12 07:23] charleskorn commented on #32
@Vampire I'm not keen to add a `getKey` method as it seems like an unusual use case with a simple-enough alternative for those that really need it.

[2022-07-12 07:57] charleskorn commented on #305
Unfortunately, the underlying YAML library kaml uses (SnakeYAML) doesn't support using `Writer`  instances, so I've avoided adding support for either `Reader` or `Writer` to maintain the symmetry of the API.

It would be pretty straightforward for the existing `encodeToStream` and `decodeFromStream` methods to take a `Charset` parameter, and default to UTF-8 - would that work for you?

[2022-07-12 17:22] Vampire commented on #305
Well, it works at least better, even if it is not fully spec compliant. :-)
Maybe SnakeYAML should fix it for the reading then though.

[2022-07-13 07:29] charleskorn commented on #305
Might be worth raising a bug with SnakeYAML directly then.

Is there still value in adding a `Charset` parameter to `encodeToStream` and `decodeFromStream`? Or did you have another solution in mind?

[2022-07-14 10:28] #169 closed

[2022-07-18 08:48] rohdef commented on #232
Stumbled over this, that might be a help: https://github.com/jurgc11/yakl according to the description it's a pure port of SnakeYAML

(And also the classic +1 for this feature)

[2022-07-22 01:07] charleskorn commented on #232
Thanks for sharing @rohdef. Looks interesting but sadly also looks abandoned (there's been no changes for over two years). If nothing else, it's at least a starting point or source of inspiration.

[2022-08-11 07:32] #279 closed

[2022-08-15 00:17] Vampire opened #318 "Option to not serialize default values only if they are `null`"
### Describe the problem you'd like to solve

I'd like to be able to tell Kaml to serialize default values, but only if they are non-null.
Currently I only see the option to either serialize all default values or none of them.

### Describe the solution you'd like

An option to enable such a mode.

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-08-15 00:48] charleskorn commented on #318
Unfortunately this is not supported by kotlinx.serialization (see #8), so kaml can't support it.

I had a quick look through the open feature requests for kotlinx.serialization and I can't find anything related to this, so it might be worth opening an issue over in their repo and explaining your use case.

[2022-08-20 16:59] mroche89 commented on #318
A workaround you can use would be to apply the annotation `@EncodeDefault(EncodeDefault.Mode.NEVER)` to the individual property whose default value you'd like omitted. This way you can selectively apply it to properties that default to `null`

[2022-08-21 01:03] Vampire commented on #318
Ah, thanks @mroche89, that's perfectly fine for me.
Actually the othe way around, having encode defaults `true` and then annotating the one special with `@EncodeDefault`. :-)

[2022-08-21 01:03] #318 closed

[2022-08-28 10:51] sschuberth commented on #232
While https://github.com/Him188/yamlkt was created after https://github.com/charleskorn/kaml, I'd argue that `yamlkt` follows the technically more attractive approach of a self-contained Kotlin-only library, instead of wrapping existing platform-specific libraries like `kaml` does. That allows `yamlkt` to share much more code across platforms.

In any case, it's indeed a bit unfortunate that engin

[2022-09-02 09:49] westnordost commented on #232
@sschuberth I partly agree. I think the best approach would be to have a pure Kotlin YAML parser and separately from that, a YAML plugin for kotlinx-serialization that uses that YAML parser.

`kaml` suffers from that a pure Kotlin YAML parser does not exist (yet) and `yamlkt` suffers from that they are trying to write a YAML parser from scratch (and mashed it into the same project as the kotlinx-s

[2022-09-06 17:47] #298 closed

[2022-09-09 03:52] #84 closed

[2022-09-11 17:01] #303 closed

[2022-09-18 08:32] #305 closed

[2022-11-06 19:08] dkim19375 opened #346 "Maven Central has an empty JAR file"
### Describe the bug

The versions `0.43.0` - latest (`0.49.0` as of writing this) only contain a 695 byte file containing only a `META-INF` folder.
The versions `0.29.0` - `0.42.0` contain the package `com.charleskorn.kaml`, but inside there are only `.kotlin_metadata` files.
So, the latest working version on Maven Central is `0.28.3` which is nearly 2 years old.

### Reproduction repo

_No respo

[2022-11-07 06:42] charleskorn commented on #346
Hi @dkim19375, this is expected behaviour.

Kaml is a Kotlin Multiplatform project, although it only supports the JVM at present. As a result of being a multiplatform project, the `kaml` artefact on Maven Central contains only the metadata required for Gradle to resolve the appropriate platform-specific artefact (eg. `kaml-jvm`).

[2022-11-07 11:22] #346 closed

[2022-11-21 02:33] Vampire commented on #29
This is not implemented, is it? Please reopen.